<div class="jumbotron" style="background:linear-gradient(rgba(0,0,0,.8),rgba(0,0,0,0));color:white;">
  <h1 style="color:white;">Der's für ganz schlaue..</h1>
  <p class="lead">
    <img src="images/ticket.svg" alt="I'm Yeoman" style="height:150px;"><br>
    Und was das hier?
  </p>
  <p>
    <input class="form-control" ng-model="name" type="text" placeholder="Fängt mit   'T'   an und hört mit   'icktes'   auf " style="background:rgba(0,0,0,.6);color:white;">
  </p>

  <p><a class="btn btn-lg btn-success" style="background:rgba(0,0,0,.5);" ng-click="evaluate()">Meinst echt?</a></p>
</div>
