<div class="jumbotron" style="background:linear-gradient(rgba(0,0,0,.8),rgba(0,0,0,0));color:white;">
  <h1>Happy Birthday!!</h1>
  <p class="lead">
    <img src="images/present.svg" alt="I'm Yeoman"><br>
    Hey baby...<br>
    Wenn ich könnte, würde ich Dir die Sterne schenken!<br>
    Aber weil ich das nicht kann, nehm ich das Nächstbeste.<br>
    Das musst Du Dir aber erst verdienen ;)
  </p>

  <p>
    <a class="btn btn-lg btn-success" style="background:rgba(0,0,0,.5);" ng-click="go()">Let's Go!</a>
    <a class="btn btn-lg btn-danger" style="background:rgba(0,0,0,.5);" ng-click="no()">Nah bin ne pussy und will nicht</a>
  </p>
</div>
